body {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
};
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: rgb(0, 255, 200);
    border-width:  2px;
    border-style: solid;
    }