Body {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
};
Header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: blue;
    border-width:  2px;
    border-style: solid;
    }